<div class="container">
    <div class="row">
        <% @teams.each do |team| %>
          <div class="col-md-4">
            <h5><%= Pitch.find(team.pitch_id).title%></h5>
            <div class="">
              <ul>
                <li><strong><%= Student.find(team.lead_id).full_name%></strong></li>
                <% Team.where(pitch_id: team.pitch_id).each  do |team_student |%>
                  <li><%= Student.find(team_student.student_id).full_name%></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
    </div>
</div>
