<div class="container">
  <h4>Welcome to Final Project App</h4>
  <ul>
    <li><%= link_to "Teacher", teachers_login_path %></li>
    <li><%= link_to "Student", new_session_path %></li>
  </ul>

</div>
