<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h4 class="text-center">Welcome to Final Project App</h4>
    <p class="text-center">
      Share your ideas and find team to make beautiful and meaningful things
    </p>
    <ul class='login-teacher-student text-center'>
      <li><%= link_to "Teacher", teachers_login_path %></li>
      <li><%= link_to "Student", new_session_path %></li>
    </ul>

  </div>

</div>
