<div class="container">
    <% @pitches.each do |pitch| %>
      <div class="card">
        <h4 class="card-header"><%= pitch.title %></h4>
        <div class="card-block">
          <p class="card-text"><%= pitch.description %></p>
          <%= link_to 'Edit', edit_pitch_path(pitch), class: 'btn btn-primary'%>
          <%= link_to 'Delete', pitch_path(pitch), method: 'delete', class: 'btn btn-primary'%>
        </div>
      </div>
    <% end %>

    <div class="">
      <% if @pitches.count < 4 && current_user.type == 'Student'%>

        <a href="/pitches/new">Add</a>
      <% end %>
    </div>
</div>
