<div class="container">
    <% @pitches.each do |pitch| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" aria-label="title"><%= pitch.title %></h3>
        </div>
        <div class="panel-body">
          <p><%= pitch.description %></p>
        </div>
      </div>
      <%= link_to 'Edit', edit_pitch_path(pitch)%>
      <%= link_to 'Delete', pitch_path(pitch), method: 'delete'%>
    <% end %>
    <div class="">
      <% if @pitches.count < 4 && current_user.type == 'Student'%>

        <a href="/pitches/new">Add</a>
      <% end %>
    </div>
</div>
