<div class="container">
  <div class="container">
    <div class="row">
      <% @pitches.each do |pitch| %>
        <div class='col-md-4'><div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" aria-label="title"><%= pitch.title %></h3>
            <select>
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="mercedes">3</option>
              <option value="audi">4</option>
              <option value="audi">5</option>
            </select>
          </div>
          <div class="panel-body">
            <p><%= pitch.description %></p>
          </div>
        </div></div>
      <% end %>
    </div>
  </div>

</div>
