<div class="container">
  <div class="card-columns">

    <% if @pitches.empty? %>
      <span>There are not any pitches yet.</span>
    <% end %>
    <% @pitches.each do |pitch| %>

        <div class="card">
          <div class="card-header">
            <b><%= pitch.title %></b>
            <% if current_user.type == 'Teacher' %>
              <span>(<%= pitch.student.full_name%>)</span>
            <% end %>
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p><%= pitch.description %></p>
            </blockquote>
          </div>
        </div>

    <% end %>
  </div>

</div>
