<div class="container">
  <div class="row">
    <% if @cohorts %>
      <ul>
        <li><a href="/home/cohorts/<%= @cohorts.id%>"><%= @cohorts.name%></a> <a href="/teachers/edit">Setting</a></li>
      </ul>
    <% else %>
      <span>There is not active cohort. Create a new one <%= link_to "here", teachers_settings_path%></span>
    <% end %>
  </div>
</div>
