<div class="container">
  <div class="row">
    <% @pitches.each do |pitch| %>
      <div class='col-md-4'>
        <div class="card">
          <div class="card-header">
            <%= pitch.title %>
            <% if current_user.type == 'Teacher' %>
              <span class="choose-idea"><%= pitch.votes.count%></span>
            <% end %>
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p><%= pitch.description %></p>
            </blockquote>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
