<div class="container">
    <% Cohort.last.setting.number_of_teams.times do |idx| %>
        <div class="col-md-6 team" id="team<%=idx+1%>">
          <div class="">
            <span><%= teams[idx][:pitch]%></span>
          </div>
          <% teams[idx][:student].each do |student|%>
            <span class='student'><%= student.first_name %></span>
          <% end %>
        </div>
    <% end %>
</div
