<div class="container">
    <% Cohort.last.setting.number_of_teams.times do |team| %>
        <div class="" id="team<%=team+1%>">
          <p>
            hello
          </p>
        </div>
    <% end %>
</div>
