<div id='student-project-info'>
  <div class='student-name'>Devid</div>
    <div class='projects'>
      <div class='title1'>Yelp</div>
      <div class='title2'>Instagram</div>
      <div class='title3'>R2G</div>
      <div class='title4'>Betnick</div>
    </div>
</div>
