<div class="container">
  <% if @warning %>
    <h5><%= @warning %></h5>
  <% else %>
  <span>Final numbers of teams: <strong><%= Cohort.last.setting.number_of_teams%></strong></span>

  <div class="row">
    <% if @notice %>
      <span><%= @notice%></span>
    <% else %>
      <%if !@teams.empty?%>
        <%= render partial: 'display_team', locals: {teams: @teams}%>
      <%else%>
        <span>Students still voting. </span>
      <% end %>
    <% end %>
  <% end %>
</div>
