<div class="container">
  <span>Final numbers of teams: <strong><%= Cohort.last.setting.number_of_teams%></strong></span>

  <div class="row">
    <% if @notice %>
      <span><%= @notice%></span>
    <% else %>
      <%= render partial: 'display_team', locals: {teams: @teams}%>
    <% end %>
</div>
