<div class="container">

  <div class="row">
    <% if @notice %>
      <span><%= @notice%></span>
    <% else %>
      <%= render partial: 'display_team', locals: {teams: @teams}%>
    <% end %>
</div>  
