<div class="container">
  <h4>Create a new cohort</h4>
  <form action="/teachers/create_cohort" method='post'>
    <%= form_for @cohort, :url => {:controller => "teachers", :action => "create_cohort"} do |f| %>
    <div class="form-group row">
      <label for="cohort" class="col-sm-2 col-form-label">Cohort</label>
      <div class="col-sm-6  ">
        <input type="text" class="form-control" id="cohort" placeholder="NYC-Salamanders-2016">
      </div>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  <% end %>
</div>
