<div class="container">
  <h4>Create a new cohort</h4>


      <div class="form-group row">
        <div class="col-sm-6 ">
          <%= form_tag import_teachers_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
</div>
