// Place all the styles related to the Ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.line-pitch {
  color: #983334;

}


#team1, #team2, #team3, #team4, #team5, #team6 {
  // width: 550px;
  min-height: 30px;
  height: auto;
  // border: solid 1px red;
}
