// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team {
  height: auto;
  padding-top: 10px;
  border: solid 1px black;
}

.student {
  // border: solid 1px black;
  border-radius: 6px;
  cursor: move;

  ol li:first-child {
    font-weight: bolder;
    // margin-left: -20px;
  }


}

.student-name {
  font-weight: bolder;
}
