<div class="container">
  <div class="row">
    <% @pitches.each do |pitch| %>
      <div class='col-md-4 col-xs-12'>
        <div class="card">
          <div class="card-header">
            <%= pitch.title %>
            <% if current_user.type == 'Student' %>
              <% if current_user.upvoted?(pitch) %>
                <input type="checkbox" class="choose-idea" value="/pitches/<%= pitch.id %>/vote" checked="true">
              <% else %>
                <input type="checkbox" class="choose-idea" value="/pitches/<%= pitch.id %>/vote">
              <% end %>
            <% end %>
            <% if current_user.type == 'Teacher' %>
              <span class="choose-idea"><%= pitch.votes.count%></span>
            <% end %>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
</div>
