<div class="container">
  <% if current_user.cohort.setting%>
      <% if current_user.cohort.setting.active %>
        <% if current_user.active_first_round? %>
          <%= render partial: 'display_pitches', locals: {pitches: @pitches}%>
        <% else %>
          <div class="">
            <p>
            The first round not opened yet, please wait for teacher action.
            </p>
          </div>
        <% end %>
      <%  else %>
          <div class="">
            <h5 class='text-center'>Pitch day is already over.</h5>
          </div>
      <% end %>
    <% else %>
        <div class="">
          <h5>Wair for teacher action.</h5>
        </div>
  <% end %>

</div>
