<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">Final Project</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if loggin? %>
            <% if current_user.type == 'Student'%>
              <li><a href="/pitches">My pitches</a></li>
            <% else %>
              <li><a href="/pitches">Settings</a></li>
            <% end %>
              <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
          <% else %>
            <li><a href="/students/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
