<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.2/dragula.min.js"></script>
    <nav class="navbar navbar-dark bg-inverse">
          <a class="navbar-brand" href="/home">Final Project</a>

        <ul class="nav navbar-nav pull-xs-right">
          <% if loggin? %>

              <% if current_user.type == 'Student'%>
                <li class="nav-item"><a class="nav-link" href="/firstround">Round 1</a></li>
                <li id='round2' class="nav-item"><a class="nav-link" href="/ranking">Round 2</a></li>
              <% else %>
                <li class="nav-item"><a class="nav-link" href="/votingresult">Voting result</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams">Creating teams</a></li>
              <% end %>

            <% if current_user.type == 'Student'%>
              <li class="nav-item"><a class="nav-link" href="/pitches">My pitches</a></li>
            <% else %>
              <li class="nav-item"><a class="nav-link" href="/pitches">Settings</a></li>
            <% end %>
              <li class="nav-item"><a class="nav-link" href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
          <% else %>
            <li class="nav-item"><a class="nav-link" href="/students/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>
        </ul>
    </nav>

    <%= yield %>
  </body>
</html>
